<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard.vue";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo.vue";
import Button from "@/Components/Button.vue";
import Input from "@/Components/Input.vue";
import Checkbox from "@/Components/Checkbox.vue";
import Label from "@/Components/Label.vue";
import * as Register from "@/Api/Register";

// defineProps({
//     canResetPassword: Boolean,
//     status: String,
// });

const formData = useForm({
    email: "",
    password: "",
    remember: false,
});

const submit = () => {
    formData
        .post(route("admin.loginCheck"))
    if(!formData){

    }else{
        this.$toast.fire({
        type: 'success',
        title: 'Đăng nhập thành công',
     })
    }

};

</script>

<template>
    <Head title="Log in" />

    <JetAuthenticationCard>
        <template #logo>
            <JetAuthenticationCardLogo />
        </template>
        <template #header-body>
            <div
                class="mx-auto justify-content-center align-items-center frame-login"
            >
                <div class="card-body" style="">
                    <h4
                    class="card-header border-0 font-weight-bold"
                    style="background: transparent"
                >
                    Đăng nhập
                </h4>
                    <form
                        @submit.prevent="submit"
                    >
                        <div>
                            <Label
                                class="z-10 pt-1 pl-1"
                                for="email"
                                value="Email"
                            ></Label>
                            <Input
                                id="email"
                                v-model="formData.email"
                                typeInput="email"
                                placeholder="Nhập email"
                                required
                            />
                        </div>
                        <div class="mt-4">
                            <Label
                                class="z-10 pt-1 pl-1"
                                for="password"
                                value="Password"
                            ></Label>
                            <Input
                                id="password"
                                v-model="formData.password"
                                typeInput="password"
                                autocomplete="password"
                                placeholder="Nhập password"
                                required
                            />
                        </div>
                        <div class="form-group text-center mt-4">
                            <button
                                type="submit"
                                class="btn btn-primary w-200 text-white font-weight-bold"
                            >
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </template>
    </JetAuthenticationCard>
</template>
<style lang="scss">
.frame-login {
    height: calc(100vh - 76px);
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
}
</style>
