<script setup>
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard.vue";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo.vue";
import Button from "@/Components/Button.vue";
import Input from "@/Components/Input.vue";
import Checkbox from "@/Components/Checkbox.vue";
import Label from "@/Components/Label.vue";
import * as Register from "@/Api/Register";


const formData = useForm({
    email: "",
    password: "",
    confirm_password: "",
    username: "",
    company: "",
    department: "",
    responsible: "",
    url_company: "",
    url_frame: "",
    terms: false,
});
</script>
<template>
    <div>
        <Head title="Register" />
        <JetAuthenticationCard>
            <template #logo>
                <JetAuthenticationCardLogo />
            </template>
            <template #header-body>
                <div
                    class="card border-0 text-center container mx-auto" style="background: rgb(191, 219, 254)"
                    v-if="!registerConfirm"
                >
                    <h2
                        class="card-header border-0 font-weight-bold"
                        style="background: transparent"
                    >
                        Register
                    </h2>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="email"
                            value="Email"
                        ></Label>
                        <Input
                            id="email"
                            v-model="formData.email"
                            typeInput="email"
                            :error="errors.email"
                            required
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="password"
                            value="Password"
                        ></Label>
                        <Input
                            id="password"
                            v-model="formData.password"
                            typeInput="password"
                            autocomplete="password"
                            :error="errors.password"
                            required
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="confirm_password"
                            value="Confirm Password"
                        />
                        <Input
                            id="confirm_password"
                            v-model="formData.confirm_password"
                            typeInput="password"
                            :error="errors.confirm_password"
                            autocomplete="confirm_password"
                            required
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="username"
                            value="Username"
                        />
                        <Input
                            id="username"
                            v-model="formData.username"
                            typeInput="text"
                            autocomplete="username"
                            :error="errors.username"
                            required
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="company"
                            value="Company"
                        />
                        <Input
                            id="company"
                            v-model="formData.company"
                            typeInput="text"
                            :error="errors.company"
                            autocomplete="company"
                            required
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="department"
                            value="Department"
                        />
                        <Input
                            id="department"
                            v-model="formData.department"
                            typeInput="text"
                            :error="errors.department"
                            autocomplete="department"
                            required
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="responsible"
                            value="Responsible"
                        />
                        <Input
                            id="responsible"
                            v-model="formData.responsible"
                            typeInput="text"
                            required
                            autocomplete="responsible"
                            :error="errors.responsible"
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="url_company"
                            value="Url Company"
                        />
                        <Input
                            id="url_company"
                            v-model="formData.url_company"
                            typeInput="text"
                            required
                            autocomplete="url_company"
                            :error="errors.url_company"
                        />
                    </div>
                    <div class="mt-4 w-3/6 mx-auto relative">
                        <Label
                            class="z-10 pt-1 pl-1"
                            for="url_frame"
                            value="Url Frame"
                        />
                        <Input
                            id="url_frame"
                            v-model="formData.url_frame"
                            typeInput="text"
                            required
                            autocomplete="url_frame"
                            :error="errors.url_frame"
                        />
                    </div>
                    <div
                        class="form-group text-center mt-4 w-3/6 mx-auto relative"
                    >
                        <button
                            type="submit"
                            class="btn btn-primary w-200 text-white"
                            @click="onClickConfirm"
                        >
                            Xác nhân đăng ký
                        </button>
                    </div>
                    <!-- <div v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature" class="mt-4 w-3/6 mx-auto relative">
                     <Label class="z-10 pt-1 pl-1" for="terms">
                         <div class="flex items-center">
                             <Checkbox id="terms" v-model:checked="formData.terms" name="terms" />

                             <div class="ml-2">
                                 I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
                             </div>
                         </div>
                     </Label>
                     </div> -->
                    <!-- <div class="flex items-center justify-end mt-4 w-3/6 mx-auto relative">
                     <Link :href="route('login')" class="underline text-sm text-gray-600 hover:text-gray-900">
                         Already registered?
                     </Link>

                     <Button class="ml-4" :class="{ 'opacity-25': formData.processing }" :disabled="formData.processing">
                         Register
                     </Button>
                     </div> -->
                </div>
                <!-- =============================================== -->
                <div
                    class="card border-0 text-center container mx-auto"
                    style="height: 90vh; background: rgb(191, 219, 254)"
                    v-if="registerConfirm"
                >
                    <h2
                        class="card-header border-0 font-weight-bold"
                        style="background: transparent"
                    >
                        Xác nhận
                    </h2>
                    <ul class="card-body p-0">
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold"
                            >
                                Email
                            </div>
                            <div class="card__content text-left mt-1">
                                {{ formData.email }}
                            </div>
                        </li>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Password
                            </div>
                            <div class="card__content text-left mt-1">
                                ************
                            </div>
                        </li>
                        <div
                            style="
                                background-color: #999492;
                                margin: 0 -30px;
                                height: 2px;
                            "
                            class="mb-4"
                        ></div>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Username
                            </div>
                            <div class="card__content text-left mt-1">
                                {{ formData.username }}
                            </div>
                        </li>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Company
                            </div>
                            <div class="card__content text-left mt-1">
                                {{ formData.company }}
                            </div>
                        </li>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Department
                            </div>
                            <div class="card__content text-left mt-1">
                                {{ formData.department }}
                            </div>
                        </li>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Responsible
                            </div>
                            <div class="card__content text-left mt-1">
                                {{ formData.responsible }}
                            </div>
                        </li>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Url Company
                            </div>
                            <div class="card__content text-left mt-1">
                                <a href="facebook.com">{{
                                    formData.url_company
                                }}</a>
                            </div>
                        </li>
                        <li class="form-group">
                            <div
                                class="card__title required text-left font-weight-bold mt-2"
                            >
                                Url Frame
                            </div>
                            <div class="card__content text-left mt-1">
                                <a href="instagram.com">{{
                                    formData.url_frame
                                }}</a>
                            </div>
                        </li>
                    </ul>
                    <div class="btn__confirm mt-4">
                        <button
                            type="button"
                            class="btn btn-secondary mr-2 text-white"
                            @click="registerConfirm = false"
                        >
                            Quay lại
                        </button>
                        <button
                            class="btn btn-primary ml-2 text-white"
                            @click="registerBack()"
                        >
                            Đăng ký
                        </button>
                    </div>
                </div>
            </template>
        </JetAuthenticationCard>
    </div>
</template>
<script>
export default {
    name: "guest-layout",
    data() {
        return {
            errors: {
                email: "",
                password: "",
                confirm_password: "",
                username: "",
                company: "",
                department: "",
                responsible: "",
                url_company: "",
                url_frame: "",
            },
            registerConfirm: false,
        };
    },
    methods: {
        async registerBack() {
            let formData = this.formData;
            const check = await Register.ApiRegister(formData);
            if(typeof check !== undefined){
                this.$toast.success('Tạo tài khoản thành công');
                return this.$inertia.visit(route('admin.login'))
            }else{
                this.$toast.error('Tạo tài khoản thất bại');
                return
            }

        },
        resetErrorForm() {
            this.errors = {
                email: "",
                password: "",
                confirm_password: "",
                username: "",
                company: "",
                department: "",
                responsible: "",
                url_company: "",
                url_frame: "",
            };
        },
        validateForm() {
            let regex_email =
                /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let regex_password = /^(?=.*\d)(?=.*[A-Z]).{6,}$/;
            let regex_url = new RegExp(
                "^" +
                    // protocol identifier
                    "(?:(?:https?|http)://)" +
                    // user:pass authentication
                    "(?:\\S+(?::\\S*)?@)?" +
                    "(?:" +
                    // IP address exclusion
                    // private & local networks
                    "(?!(?:10|127)(?:\\.\\d{1,3}){3})" +
                    "(?!(?:169\\.254|192\\.168)(?:\\.\\d{1,3}){2})" +
                    "(?!172\\.(?:1[6-9]|2\\d|3[0-1])(?:\\.\\d{1,3}){2})" +
                    // IP address dotted notation octets
                    // excludes loopback network 0.0.0.0
                    // excludes reserved space >= 224.0.0.0
                    // excludes network & broacast addresses
                    // (first & last IP address of each class)
                    "(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])" +
                    "(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}" +
                    "(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))" +
                    "|" +
                    // host name
                    "(?:(?:[a-z\\u00a1-\\uffff0-9]-*)*[a-z\\u00a1-\\uffff0-9]+)" +
                    // domain name
                    "(?:\\.(?:[a-z\\u00a1-\\uffff0-9]-*)*[a-z\\u00a1-\\uffff0-9]+)*" +
                    // TLD identifier
                    "(?:\\.(?:[a-z\\u00a1-\\uffff]{2,}))" +
                    ")" +
                    // port number
                    "(?::\\d{2,5})?" +
                    // resource path
                    "(?:/\\S*)?" +
                    "$",
                "i"
            );
            let validate = true;

            this.resetErrorForm();
            if (!this.formData.email) {
                this.errors.email = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.password) {
                this.errors.password = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.confirm_password) {
                this.errors.confirm_password = this.$t("validate.required");
                validate = false;
            } else if (
                this.formData.password !== this.formData.confirm_password
            ) {
                this.errors.confirm_password = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.username) {
                this.errors.username = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.company) {
                this.errors.company = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.responsible) {
                this.errors.responsible = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.department) {
                this.errors.department = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.url_company) {
                this.errors.url_company = this.$t("validate.required");
                validate = false;
            }

            if (!this.formData.url_frame) {
                this.errors.url_frame = this.$t("validate.required");
                validate = false;
            }

            return validate;
        },
        onClickConfirm() {
            if (this.validateForm()) {
                this.registerConfirm = true;
            }
        },
    },
    watch: {
        "formData.email": function () {
            this.errors.email = "";
        },
        "formData.password": function () {
            this.errors.password = "";
        },
        "formData.confirm_password": function () {
            this.errors.confirm_password = "";
        },
        "formData.username": function () {
            this.errors.username = "";
        },
        "formData.company": function () {
            this.errors.company = "";
        },
        "formData.department": function () {
            this.errors.department = "";
        },
        "formData.responsible": function () {
            this.errors.responsible = "";
        },
        "formData.url_company": function () {
            this.errors.url_company = "";
        },
        "formData.url_frame": function () {
            this.errors.url_frame = "";
        },
    },
};
</script>
