<script setup>
import { onMounted, ref } from 'vue';
import ErrorInput from './ErrorInput.vue';

defineProps({
    modelValue: String,
    error: String,
    typeInput: String,
    placeholder: String,
    disabled: Boolean,
    min: String | Number

});

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() => {
    if (input.value.hasAttribute('autofocus')) {
        input.value.focus();
    }
});

defineExpose({ focus: () => input.value.focus() });
</script>

<template>
    <input
        ref="input"
        class="form-control relative outline-none rounded py-3 px-3 w-full bg-white shadow text-sm text-gray-700 placeholder-gray-400 border-2 border-solid border-[#f0f0f0]"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :type="typeInput"
        :placeholder="placeholder"
        :class="{'is-invalid': error}"
        :disabled="disabled"
        :min="min"
    >
    <error-input v-if="error">
        {{ error }}
    </error-input>

</template>
<style>
.form-control.is-invalid{
    border-color: #dc3545;
}
</style>
