<script setup>
import DashboardLayout from '@/Layouts/Dashboard.vue';
import { Link } from '@inertiajs/inertia-vue3';
</script>
<template>
    <dashboard-layout>
        <div id="dashboard" class="content-wrapper content-wrapper--with-bg">
          <div class="content">
            <div class="page-title"></div>
            <div class="row">
              <div class="card-panel col col-12 col-sm-6 col-lg-3 mb-4">
                <Link
                  :href="route('admin.iframes.create')"
                  class="card-panel-inner d-block text-white"
                  style="background-color: #97c4fd">
                  <div class="card-panel-icon-wrapper">
                    <i class="fas fa-external-link" style="font-size: 70px"></i>
                  </div>
                  <div class="card-panel-description">
                    <div class="card-panel-text">Tạo frame mới</div>
                  </div>
                </Link>
              </div>
              <div class="card-panel col col-12 col-sm-6 col-lg-3 mb-4">
                <Link
                  :href="route('admin.iframes.index')"
                  class="card-panel-inner d-block text-white"
                  style="background-color: #77b3ff">
                  <div class="card-panel-icon-wrapper">
                    <i class="far fa-line-height" style="font-size: 70px"></i>
                  </div>
                  <div class="card-panel-description">
                    <div class="card-panel-text">Danh sách các frame</div>
                  </div>
                </Link>
              </div>
              <div class="card-panel col col-12 col-sm-6 col-lg-3 mb-4">
                <Link
                :href="route('admin.users.index')"
                  class="card-panel-inner d-block text-white"
                  style="background-color: #619de9">
                  <div class="card-panel-icon-wrapper">
                    <i class="fas fa-user" style="font-size: 70px"></i>
                  </div>
                  <div class="card-panel-description">
                    <div class="card-panel-text">Danh sách tài khoản</div>
                  </div>
                </Link>
              </div>
            </div>
          </div>
        </div>
    </dashboard-layout>

</template>

<script>
export default {

 metaInfo: { title: 'ダッシュボード' },
  props: {},
  data() {
    return {
      //
    }
  },
    //   created() {
    //     this.$store.commit('setPageTitle', 'Home')
    //   },
}
</script>
