<script setup>
import DashboardLayout from '@/Layouts/Dashboard.vue';
import { ref } from 'vue'
const activeName = ref('first')
const handleClick = (tab, event) => {
  console.log(tab, event)
}
</script>
<template>
    <dashboard-layout>        
        <div class="content-wrapper content-wrapper--with-bg">
            <ul class="nav nav-pills justify-content-between">
                <li class="nav-item">
                    <a href="javascript:" class="nav-link" :class="[activeTab === 1 ? 'active' : '']">Thông tin cơ bản</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:" class="nav-link" :class="[activeTab === 2 ? 'active' : '']">Instagram</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:" class="nav-link" :class="[activeTab === 3 ? 'active' : '']">Twitter</a>
                </li>                
                <li class="nav-item">
                    <a href="javascript:" class="nav-link" :class="[activeTab === 4 ? 'active' : '']">Xác nhận</a>
                </li>
            </ul>
            <div class="content">
                <base-form v-if="activeTab == 1" :mode="mode"></base-form>
                <instagram-form v-if="activeTab == 2" :mode="mode"></instagram-form>
                <twitter-form v-if="activeTab == 3" :mode="mode"></twitter-form>
                <confirm-form v-if="activeTab == 4" :mode="mode"></confirm-form>
            </div>
            <div class="loading-area" v-if="loading">
                <img :src="'/images/icon-loading.gif'" class="img-fluid" />
            </div>
        </div>
    </dashboard-layout>
   
</template>

<script>
import BaseForm from "@/Components/Iframes/BaseForm.vue";
import InstagramForm from "@/Components/Iframes/InstagramForm.vue";
import TwitterForm from "@/Components/Iframes/TwitterForm.vue";
import ConfirmForm from "@/Components/Iframes/ConfirmForm.vue";
import {mapState, mapMutations} from 'vuex'
export default {
    data() {
        return {
            mode: 'create'
        }
    },
    components: {
      BaseForm,
      InstagramForm,
      TwitterForm,
      ConfirmForm
    },
    computed: mapState([
        'activeTab', 'loading'
    ]),
    methods: {
        ...mapMutations([
            'changeTab',
        ]),
        changeActiveTab: function(numberTab){
            this.$store.commit('changeTab', numberTab)
        }
    }
}
</script>

<style>

</style>