<script setup>
import { Link } from "@inertiajs/inertia-vue3"
import Dashboard from '@/Layouts/Dashboard'
const handleShowDetail = ((data) => {
    this.itemSelected = data.item;
})

</script>
<template>
  <dashboard>
    <!-- title -->
    <div class="content-wrapper content-wrapper--with-bg">
      <div class="page-title" style="display: block">
        <div class="mt-2">アカウント一覧</div>
      </div>
      <!-- add new email invitation -->
      <div class="content">
        <div class="topbar-table clearfix">
          <div class="float-right">
            <Link class="btn btn-success" :href="route('admin.users.create')">
              Tạo tài khoản
            </Link>
          </div>
        </div>
        <el-table :data="users" style="width: 100%">
            <el-table-column label="Usertname" sortable prop="username" />
            <el-table-column label="Email" sortable prop="email" />
            <el-table-column align="right">
            <template #header>
                <el-input v-model="search" placeholder="Type to search" />
            </template>
            <template #default="scope">
                <el-button @click="handleEdit(scope.$index, scope.row)"
                >Edit</el-button
                >
                <el-button
                type="danger"
                @click="handleDelete(scope.$index, scope.row)"
                >Delete</el-button
                >
            </template>
            </el-table-column>
        </el-table>
        <!-- Tables -->
        <div class="overflow-auto pt-3">
          <b-table class="noSelect" id="my-table" :fields="fields" :items="items" :per-page="perPage" :current-page="currentPage" bordered responsive="sm">
            <!-- show modal & delete column -->
            <template v-slot:cell(action)="data">
              <button @click="handleShowDetail(data)" type="button" class="btn btn-sm btn-primary text-white" data-toggle="modal" data-target=".bd-example-modal-lg">
               Xác nhận
              </button>
              <!-- Modal -->
              <!-- delete -->
              <button class="btn btn-sm btn-danger text-white" @click.prevent="destroy(data.item.id)">
                Xóa
              </button>
            </template>
          </b-table>
        </div>
      </div>
    </div>
  </dashboard>
</template>

<script>
export default {
    name: `index`,
    props: ['users'],
    data() {
        return {
            // sortDesc: false,
            // sortBy: '新しい順',
            // perPage: 9,
            // currentPage: 1,
            search: '',
            itemSelected: {},
            fields: [
                {key: 'username', label: 'アカウント名', sortable: true},
                {key: 'email', label: '登録メールアドレス', sortable: true},
                {key: 'privileges', label: 'アカウント権限', sortable: false},
                {key: 'action', label: 'アクション', class: 'text-center', sortable: false}
            ],
            item: this.users

        }
    },
    created(){

    },
    methods: {
        handleDelete(index, row){
            console.log(row.id);
            axios
                .delete(route('admin.users.destroy', row.id))
                .then(() => {
                    this.$toast.success('Thanh cong')
                })
                .catch((e) => console.error(e))
                // this.users.splice(index, row.id);
        }
    },
    computed:{

    }
}
</script>

<style>

</style>
