<template>
	<div class="preview modal fade" id="all-preview" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" style="max-width: 80%" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="content" id="iframe-page">
							<section class="pt-0">
								<ul class="tab-menu justify-content-center">
									<li class="tab-2">
										<a href="javascript:void(0)" :class="{'active' : current_tab == 'tab-1'}" @click="current_tab = 'tab-1'">
											<fa-icon :icon="['fab', 'instagram']" fixed-width /> Instagram
										</a>
									</li>
									<li class="tab-3 mx-md-4">
										<a href="javascript:void(0)" :class="{'active' : current_tab == 'tab-2'}" @click="current_tab = 'tab-2'">
											<fa-icon :icon="['fab', 'twitter']" fixed-width /> Twitter
										</a>
									</li>
									<li class="tab-1">
										<a href="javascript:void(0)" :class="{'active' : current_tab == 'tab-3'}" @click="current_tab = 'tab-3'">
											<fa-icon :icon="['far', 'comment-dots']" fixed-width /> モニターレビュー
										</a>
									</li>
								</ul>
								<div class="tab-page-container">
									<div v-if="current_tab == 'tab-1'">
										<!-- <ul class="item-tab-page instagram-page">
											<li class="items" v-for="ins_eval in instaCrawled" :key="ins_eval.id">
												<div class="item-img mb-0">
													<img v-if="ins_eval.image[0].type == 'image'" :src="ins_eval.image[0].link" alt="instagram" />
													<video v-else class="w-100" autoplay muted controls playsinline>
														<source :src="ins_eval.image[0].link">
													</video>
												</div>
												<div class="content-review">
													<div class="account-name d-flex align-items-center">
														<img :src="'/images/icon-instagram-footer.svg'" class="img-fluid w-20px ig-icon__height">
														<span class="font-weight-bold ml-2">{{ ins_eval.account }}</span>
													</div>
													<div class="description mt-2">
														{{ ins_eval.content }}
													</div>
													<div class="meta">
														<div class="icon-insta clearfix">
															<fa-icon :icon="['far', 'comment']" class="float-left mr-1" fixed-width />
															<fa-icon :icon="['far', 'heart']" class="float-left" fixed-width />
														</div>
														<div class="date-insta">{{ ins_eval.date }}</div>
													</div>
												</div>
											</li>
										</ul> -->
									</div>
									<div v-if="current_tab == 'tab-2'">
										<!-- <ul class="item-tab-page twitter-page">
											<div class="items" v-for="tw_eval in twitCrawled" :key="tw_eval.id">
												<div class="grid">
													<div class="account-info">
														<img class="inline-block img-responsive img-circle" :src="tw_eval.logo" />
														{{ tw_eval.account }}
													</div>
													<div class="twitter-page-text">{{ tw_eval.content }}</div>
													<div class="imgholder" v-if="tw_eval.image.length">
														<img :src="tw_eval.image[0]" class="img-fluid" />
													</div>
													<div class="meta">
														<img class="social-logo" :src="'/img/twitter_logo.png'" />
														<div class="post-date">{{ tw_eval.date.replace(' 00:00:00', '') }}</div>
													</div>
												</div>
											</div>
										</ul> -->
									</div>
									<div v-if="current_tab == 'tab-3'">
										<!-- <ul class="item-tab-page reviews-page">
											<li class="items" v-for="rev_eval in reviews" :key="rev_eval.id">
												<div class="item-img mb-0">
												<div v-if="data.image_1">
													<img v-if="rev_eval.image_1.type == 'image'" :src="rev_eval.image_1" class="img-fluid" alt="instagram" />
													<video v-else class="img-fluid" autoplay muted controls playsinline>
														<source :src="rev_eval.image_1">
													</video>
												</div>
													<img v-else-if="rev_eval.image_2" :src="rev_eval.image_2" alt="reviews" />
													<img v-else :src="rev_eval.image_3" alt="reviews" />
												</div>
												<div class="content-review">
													<div class="username d-flex">
														<span class="font-weight-bold">{{ rev_eval.username }}</span>
													</div>
													<div class="description mt-1">
														{{ rev_eval.content }}
													</div>
												</div>
												<div class="date-post">
													{{ rev_eval.date_publish }}
												</div>
											</li>
										</ul> -->
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		<div class="loading-area" v-if="loading"></div>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	computed:{
		...mapState([
			'loading', 'instaCrawled', 'twitCrawled', 'reviews'
		])
	},
	data: function () {
		return {
			current_tab: 'tab-1'
		}
	}
}
</script>

<style>

</style>
