<template>
  <div class="preview modal fade" id="instagram-preview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="content" id="iframe-page">
            <section class="pt-0">
              <ul class="tab-menu justify-content-center">
                <li class="tab-2 mx-md-2">
                  <a href="javascript:void(0)" class="active">
                    <fa-icon :icon="['fab', 'instagram']" fixed-width /> Instagram
                  </a>
                </li>
                <li class="tab-3 mx-md-2">
                  <a href="javascript:void(0)">
                    <fa-icon :icon="['fab', 'twitter']" fixed-width /> Twitter
                  </a>
                </li>
                <li class="tab-1 mx-md-2">
                  <a href="javascript:void(0)">
                    <fa-icon :icon="['far', 'comment-dots']" fixed-width /> Review
                  </a>
                </li>
              </ul>
              <div class="tab-page-container">
                
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- <style src="../../../css/style.css"></style> -->

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState([
      'instaCrawled'
    ])
  },
}
</script>
<style scoped>
.gradient-content::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #FFF) left repeat;
  background: linear-gradient(transparent, #FFF) left repeat; 
}
</style>
