<template>

  <div
    class="tabcontent pt-4"
    :selected="true"
    >
    <div class="form-group">
      <label for="iframe-name" class="font-weight-bold required">Nhập tên</label>
      <input
        type="input"
        v-model="name"
        id="iframe-name"
        class="form-control element-custom"
        :class="{'is-invalid': errors.name}"
        />
      <div class="invalid-feedback" v-if="errors.name">{{ $t('validate.required') }}</div>
    </div>
    <div class="form-group">
      <label for="iframe-user" class="font-weight-bold required">Tài khoản</label>
      <select
        id="iframe-user"
        class="form-control element-custom"
        :class="{'is-invalid': errors.user_id}"
        v-model="user_id"
        >
        <option value="">Chọn 1 tài khoản</option>
        <option v-for="(user, index) in listUser" :key="index" :value="user.id">
          {{ user.username }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="errors.user_id">{{ $t('validate.required') }}</div>
    </div>
    <div class="form-group mt-4">
      <label class="font-weight-bold required">Chọn nội dung</label>
      <div class="d-flex">
          <div class="d-flex align-items-center">
            <input
              type="checkbox"
              id="instagram"
              value="instagram"
              v-model="type"
              class="border border-solid border-[#ced4da]"
              />
            <label for="instagram" class="d-flex ml-3 mb-0">
              <img
                :src="'/images/icon-instagram-footer.svg'"
                class="img-fluid mr-2 w-8 ig-icon__height"
                />
              Instagram
            </label>
          </div>
          <div class="d-flex align-items-center ml-5">
            <input
              type="checkbox"
              id="twitter"
              value="twitter"
              v-model="type"
              class="border border-solid border-[#ced4da]"
              />
            <label for="twitter" class="d-flex ml-3 mb-0">
              <img
                :src="'/images/icon-twitter-footer.svg'"
                class="img-fluid mr-2 w-8"
                />
              Twitter
            </label>
          </div>
      </div>
      <div class="invalid-feedback" v-if="errors.type">{{ $t('validate.required') }}</div>
    </div>
    <div class="bottom-page">
      <button class="btn btn-primary text-white w-155px" @click="nextTab()">Next</button>
    </div>
  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import { mapMutations } from 'vuex'
import { mapFields } from 'vuex-map-fields';

export default {
  computed: {
    ...mapFields([
      'type', 'name', 'user_id'
    ])
  },
  created() {
    // if (this.$page.admin.type === 1) {
    //   this.getListUser()
    // } else {
    //   this.user_id = this.$page.admin.id
    // }
  },
  data: function () {
    return {
      listUser: [
        {
          id: 1,
          username: 'admin1',
        },
        {
          id: 2,
          username: 'admin2'
        }
      ],
      errors: {
        name: false,
        user_id: false,
        type: false
      }
    }
  },
  props: {
    error: {
      type: String,
      required: false
    },
    mode: {
      type: String,
      required: false
    }
  },
  methods: {
    ...mapMutations([
      'changeTab'
    ]),
    nextTab: function () {
      if (this.validateForm()) {
        if (this.type.includes('instagram')) {
          this.$store.commit('changeTab', 2)
        } else if (this.type.includes('twitter')) {
          this.$store.commit('changeTab', 3)
        } else {
          this.$store.commit('changeTab', 4)
        }
      }
    },
    validateForm() {
      let validate = true;

      // Validate base form
      if (!(this.name && this.name.trim())) {
        validate = false
        this.errors.name = true
      }

      if (!this.user_id) {
        validate = false
        this.errors.user_id = true
      }

      if (!this.type.length) {
        validate = false
        this.errors.type = true
      }

      return validate
    },
    getListUser() {
      this.axios.get(this.$route('admin.iframe.get-user'))
      .then(response => {
        this.listUser = response.data.users

        if (this.mode === 'create') {
          this.user_id = this.$page.admin.id
        }
      })
    }
  },
  watch: {
    name: function () {
      if (this.name && this.name.trim()) {
        this.errors.name = false
      }
    },
    user_id: function () {
      if (this.user_id) {
        this.errors.user_id = false
      }
    },
    type: function () {
      if (this.type.length) {
        this.errors.type = false
      }
    }
  }
}
</script>

<style scoped>
  .element-custom {
    border-radius: .5rem;
    height: 3rem;
  }
  .bottom-page {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
</style>
