<template>
  <div class="tabcontent">
    <div class="row mb-2">
      <div class="col-lg-9">
        <div class="page__header mt-4">
          <div class="page__header-title">
            全体表示確認
          </div>
          <div class="page__header-button">
            <button class="btn btn-warning text-white" @click="showPreviewAll()">
              全体プレビュー
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-9">
        <div class="page__header mt-4">
          <div class="page__header-title">
            修正・変更
          </div>
          <div class="page__header-button">
            <button class="btn btn-secondary text-white">
            修正・変更をする
            </button>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-lg-9">
        <div class="page__header mt-4">
          <div class="page__header-title">
            Iframe発行
          </div>
          <div class="page__header-button">
            <button class="btn btn-primary text-white">
              IframeURLを発行
            </button>
          </div>
        </div>
      </div> -->
    </div>
    <div class="commission clearfix">
      <div class="float-left">
        <button class="btn btn-secondary" @click="preTab()">
          戻る
        </button>
      </div>
      <div class="float-right">
        <button
          v-if="mode !== 'edit'"
          class="btn btn-info mx-1"
          @click="saveDraftIframe()"
        >
          途中保存
        </button>
        <button class="btn btn-primary" @click="saveIframe()">
          保存
        </button>
      </div>
    </div>
    <all-preview></all-preview>
  </div>
</template>

<script>
import AllPreview from '../Previews/All'

export default {
  components: {
    AllPreview
  },
  props: {
    mode: {
      type: String,
      required: false
    },
    iframeId: {
      type: String,
      required: false
    }
  },
  methods: {
    async showPreviewAll() {
      // Crawl link instagram
      await this.axios.post(this.$route('admin.crawl.instagram'), {
        links: this.$store.state.instaLinks
      })
      .then((response) => {
        this.$store.commit('setInstaCrawled', response.data.crawls)
      })

      // Crawl link twitter
      await this.axios.post(this.$route('admin.crawl.twitter'), {
        links: this.$store.state.twitLinks
      })
      .then((response) => {
        this.$store.commit('setTwitCrawled', response.data.crawls)
      })

      $('#all-preview').modal();
    },
    preTab() {
      if (this.$store.state.type.includes('review')) {
        this.$store.commit('changeTab', 4)
      } else if (this.$store.state.type.includes('twitter')) {
        this.$store.commit('changeTab', 3)
      } else {
        this.$store.commit('changeTab', 2)
      }
    },
    async saveIframe() {
      if (this.mode === 'create') {
        this.saveIframeDatabase()
      } else if (this.mode === 'edit') {
        this.updateIframeDatabase()
      } else if (this.mode === 'draft') {
        // Delete old draft
        await this.deleteIframeDraft()

        // Store new iframe
        this.saveIframeDatabase()
      }
    },
    deleteIframeDraft() {
      this.axios.delete(this.$route('admin.iframe-draft.destroy', this.iframeId), {
        redirect: false
      })
    },
    saveIframeDatabase() {
      this.$inertia.post(this.$route('admin.iframes.store'), this.$store.state)
    },
    updateIframeDatabase() {
      this.$inertia.put(this.$route('admin.iframes.update', this.iframeId), this.$store.state)
    },
    saveDraftDatabase() {
      this.$inertia.post(this.$route('admin.iframe-draft.store'), this.$store.state)
      .then(() => {
        this.$store.commit('changeLoading', false)
      })
    },
    updateDraftDatabase() {
      this.$inertia.put(this.$route('admin.iframe-draft.update', this.iframeId), this.$store.state)
      .then(() => {
        this.$store.commit('changeLoading', false)
      })
    },
    saveDraftIframe() {
      if (this.iframeId) {
        this.updateDraftDatabase()
      } else {
        this.saveDraftDatabase()
      }
    }
  }
}
</script>
