<template>
  <div class="tabcontent">
    <div class="row mb-2">
      <div class="col-lg-9">
        <div class="page__header d-flex mt-4">
          <div class="page__header-title">
            InstagramURL登録
          </div>
          <div class="page__header-csv">
            <label class="formLabel mb-0" for="file">
              CSVインポート
              <input
                class="d-none"
                type="file"
                id="file"
                accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                @change="importInstaCsv"
              />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="page__button-socilate">
       <draggable
          :list="instaLinks"
          tag="ul"
          handle=".handle"
          item-key="id"
          class="list-group"
          @end="handleDragEnd"
          >
            
         <template #item="{element}">          
              <li  class="socilate__url d-flex align-items-center mb-2">
                <div class="font-weight-bold px-2" :style="{'color': duplicateLink.includes(element.link) ? 'red' : 'black'}">{{ element.id }}</div>
                <div class="w-100">
                  <input v-model="element.link" class="input-item w-100" :style="{'border-color': duplicateLink.includes(element.link) ? 'red' : '#212121', 'color': duplicateLink.includes(element.link) ? 'red' : '#212121'}"/>
                </div>
                <div class="d-flex socilate__url-action">
                  <div
                    v-if="element.beforeCrawl && !element.status"
                    class="text-success socilate__url-check ml-2 w-7"
                  >
                      <img :src="'/assets/img/hourglass.svg'" alt="" style="height: 24px"/>
                  </div>
                    <div
                      v-if="!element.beforeCrawl && !element.status"
                      class="text-danger socilate__url-check ml-2 w-7"
                    >
                      <img :src="'/assets/img/hourglass.svg'" alt="" style="height: 24px;"/>
                    </div>
                  <div
                    v-if="!element.beforeCrawl && element.status == true"
                    class="text-success socilate__url-check ml-2"
                  >
                    <fa icon="check" size="lg" />                   
                  </div>
                  <div class="text-info socilate__url-check ml-2 handler drag-item">
                    <fa icon="sort" class="handle" size="lg" />   
                    
                  </div>
                  <div class="text-warning socilate__url-check ml-4" @click="removeLink(index)">
                  <fa icon="trash-alt" size="lg" />
                  </div>
                </div>
              </li> 
      
        </template>
        </draggable>        
    </div>
    <div class="page__button-load mt-4">
      <div class="load__more" @click="addInstaLink()">
        <img :src="'/images/icon-plus.svg'" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="commission clearfix">
      <div class="float-left">
        <button class="btn btn-secondary" @click="preTab()">
          戻る
        </button>
      </div>
      <div class="float-right">
        <button
          v-if="mode !== 'edit'"
          class="btn btn-info mx-1"
          @click="saveDraftIframe()"
        >
          途中保存
        </button>
        <button class="btn btn-warning mx-1" @click="showPreviewInsta()">
          プレビュー
        </button>
        <button class="btn btn-primary" @click="nextTab()">Next</button>
      </div>
    </div>
    <div class="page__button-load mt-4">
    
    </div>
    <div class="commission clearfix">
      <div class="float-left">
       
      </div>
      <div class="float-right">
        
      </div>
    </div>
    <instagram-preview></instagram-preview>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import draggable from 'vuedraggable'
import InstagramPreview from '../Previews/Instagram'
import { mapFields } from 'vuex-map-fields'
  
export default {
  components: {
    draggable,
    InstagramPreview
  },
  props: {
    mode: {
      type: String,
      required: false
    },
    iframeId: {
      type: String,
      required: false
    }
  },
  data: () => {
      return { 
          isDuplicate: false,
          
          
      }
  },
  computed: {
    ...mapFields([
      'loading', 'instaLinks'
    ]),
    duplicateLink() {
        let links = []
        this.$store.state.instaLinks.forEach((item) => {
            if(item.link){
                links.push(item.link)
            } else {
                return;
            }
        })
        const uniq = links
        .map((link) => {
            return {
            count: 1,
            link: link
            };
        })
        .reduce((result, b) => {
            result[b.link] = (result[b.link] || 0) + b.count;

            return result;
        }, {});
        const duplicates = Object.keys(uniq).filter((a) => uniq[a] > 1); 
        if (duplicates.length > 0) {
            this.isDuplicate = true
        } else {
            this.isDuplicate = false
        }

        return duplicates
    }
    
  },
  methods: {
    ...mapMutations([
      'addInstaLink', 'changeTab', 'changeLoading'
    ]),
    ...mapActions([
      'importInstagramCsv', 'saveDraft', 'changeState'
    ]),
    instaLinks: {
        get() {
            return this.$store.state.instaLinks
        },
        set(value) {
            this.$store.commit('updateList', value)
        }
    },
  //   async showPreviewInsta() {
  //       if(this.isDuplicate) {
  //           // this.$toastr.e(this.$t('既に登録されている投稿です。'))
  //           return
  //           } else {
  //               this.$store.commit('changeLoading', true)
  //               await this.crawlInstagram()
  //               $('#instagram-preview').modal();
  //               this.$store.commit('changeLoading', false)
  //           }
  //   },
    async crawlInstagram() {
      await this.axios.post(this.$route('admin.crawl.instagram'), {
          links: this.$store.state.instaLinks,
      })
      .then(({data}) => {
          const crawls = data.crawls;
        this.$store.commit('setInstaCrawled', crawls);
      }).catch(() => {})
    },
    addInstaLink() {
      this.$store.commit('addInstaLink')
    },
    validateForm() {
      if (this.$store.state.instaLinks.length == 0) {
        // this.$toastr.e(this.$t('validate.instagram_empty'))
        return false
      }
      // else {
      //   let validate = true
      //   this.$store.state.instaLinks.forEach((insta) => {
      //     if (!insta.status) {
      //       validate = false
      //     }
      //   })

      //   if (!validate) {
      //     this.$toastr.e(this.$t('validate.instagram_error'))
      //   }

      //   return validate
      // }

  //     return true
    },
    preTab() {
      this.$store.commit('changeTab', 1)
    },
    nextTab: async function() {
      if (this.$store.state.instaLinks.length) {
        this.$store.commit('changeLoading', true)
        await this.crawlInstagram()
        this.$store.commit('changeLoading', false)
      }

      if (this.validateForm()) {
        if (this.$store.state.type.includes('twitter')) {
          this.$store.commit('changeTab', 3)
        } else if (this.$store.state.type.includes('review')) {
          this.$store.commit('changeTab', 4)
        } else {
          this.$store.commit('changeTab', 5)
        }
      }
    },
  //   // importInstaCsv(event) {
  //   //   let formData = new FormData();
  //   //   formData.append("file", event.target.files[0]);
  //   //   this.$store.dispatch('importInstagramCsv', formData)
  //   // },
  //   // removeLink(key) {
  //   //   this.$store.commit('removeInstaLink', key)
  //   // },
  //   // saveDraftDatabase() {
  //   //   this.$inertia.post(this.$route('admin.iframe-draft.store'), this.$store.state)
  //   //   .then(() => {
  //   //     this.$store.commit('changeLoading', false)
  //   //   })
  //   // },
  //   // updateDraftDatabase() {
  //   //   this.$inertia.put(this.$route('admin.iframe-draft.update', this.iframeId), this.$store.state)
  //   //   .then(() => {
  //   //     this.$store.commit('changeLoading', false)
  //   //   })
  //   // },
  //   saveDraftIframe() {
  //     if (this.iframeId) {
  //       this.updateDraftDatabase()
  //     } else {
  //       this.saveDraftDatabase()
  //     }
  //   },
    handleDragEnd() {
        this.$store.commit('updateOrderInstaLinks')
    }
  }
}
</script>

<style>
.validateField{
    color: red;
}
</style>
