<template>
  <div
    class="tabcontent"
    >
    <div class="row mb-2">
      <div class="col-lg-9">
        <div class="page__header d-flex mt-4">
          <div class="page__header-title">
            TwitterURL登録
          </div>
          <div class="page__header-csv">
            <label class="formLabel mb-0" for="file">
              CSVインポート
              <input
              style="display: none"
              type="file"
              id="file"
              accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              @change="importTwitCsv"
              />
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="page__button-socilate">
      <draggable
        :list="twitLinks"
        tag="ul"
        handle=".handle"
        item-key="name"
        class="list-group"
        @end="handleDragEnd"
      >
        <div
          v-for="(item, index) in twitLinks"
          :key="index"
          class="socilate__url d-flex align-items-center mb-2"
          >
          <div class="font-weight-bold px-2" :style="{'color': duplicateLink.includes(item.link) ? 'red' : 'black'}">{{ index + 1 }}</div>
          <div class="w-100">

          <input v-model="item.link" class="input-item w-100" :style="{'border-color': duplicateLink.includes(item.link) ? 'red' : '#212121', 'color': duplicateLink.includes(item.link) ? 'red' : '#212121'}"/>
          </div>
          <div class="d-flex socilate__url-action">
			      <div
              v-if="item.beforeCrawl && !item.status"
              class="text-success socilate__url-check ml-2"
            >
                <img :src="'/assets/img/hourglass.svg'" alt="" style="height: 24px; width: 24px;"/>
            </div>
              <div
                v-if="!item.beforeCrawl && item.status"
                class="text-success socilate__url-check ml-2"
              >
                <fa-icon :icon="['fa', 'check']" style="width: 25px" fixed-width></fa-icon>
              </div>
              <div
                v-if="!item.beforeCrawl && !item.status"
                class="text-danger socilate__url-check ml-2"
              >
                <img :src="'/assets/img/hourglass.svg'" alt="" style="height: 24px; width: 24px;"/>
              </div>
              <div class="text-info socilate__url-check ml-2">
                <fa-icon
                  class="handle"
                  :icon="['fas', 'sort']" style="width: 25px" fixed-width></fa-icon>
              </div>
              <div class="text-warning socilate__url-check ml-4" @click="removeLink(index)">
                <fa-icon :icon="['fas', 'trash-alt']" style="width: 25px" fixed-width></fa-icon>
              </div>
          </div>
        </div>
			<div v-if="isDuplicate" class="validateField">既に登録されている投稿です。</div>
      </draggable>
    </div>
    <div class="page__button-load mt-4">
      <div class="load__more" @click="addTwitLink()">
        <img :src="'/images/icon-plus.svg'" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="commission clearfix">
      <div class="float-left">
        <button class="btn btn-secondary" @click="preTab()">
          戻る
        </button>
      </div>
      <div class="float-right">
        <button
          v-if="mode !== 'edit'"
          class="btn btn-info mx-1"
          @click="saveDraftIframe()"
        >
          途中保存
        </button>
        <button class="btn btn-warning mx-1" @click="showPreviewTwit()" data-target="#twitter-preview">
          プレビュー
        </button>
        <button class="btn btn-primary" @click="nextTab()">Next</button>
      </div>
    </div>
    <twitter-preview></twitter-preview>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import draggable from 'vuedraggable'
import TwitterPreview from '../Previews/Twitter.vue'
import { mapFields } from 'vuex-map-fields'
  
export default {
  components: {
    draggable,
    TwitterPreview
  },
  props: {
    mode: {
      type: String,
      required: false
    },
    iframeId: {
      type: String,
      required: false
    }
  },
    data: () => {
      return { 
          isDuplicate: false,
      }
  },
  computed: {
    ...mapFields([
      'loading', 'twitLinks'
    ]),
	duplicateLink() {
		// console.log(this.twitLinks)
        let links = []
        this.$store.state.twitLinks.forEach((item) => {
            if(item.link){
                links.push(item.link)
            } else {
                return;
            }
        })
        const uniq = links
        .map((link) => {
            return {
            count: 1,
            link: link
            };
        })
        .reduce((result, b) => {
            result[b.link] = (result[b.link] || 0) + b.count;

            return result;
        }, {});
        const duplicates = Object.keys(uniq).filter((a) => uniq[a] > 1); 
        if (duplicates.length > 0) {
            this.isDuplicate = true
        } else {
            this.isDuplicate = false
        }

        return duplicates
    }
    
  },
  methods: {
    ...mapMutations([
      'addTwitLink', 'changeTab'
    ]),
    ...mapActions([
      'importTwitterCsv', 'changeState'
    ]),
    async showPreviewTwit() {
		        if(this.isDuplicate) {
            this.$toastr.e(this.$t('既に登録されている投稿です。'))
            return
            } else {

				this.$store.commit('changeLoading', true)
      this.$store.commit('changeLoading', false)
      await this.crawlTwitter()
      $('#twitter-preview').modal();
			}
    },
    async crawlTwitter() {
      await this.axios.post(this.$route('admin.crawl.twitter'), {
        links: this.$store.state.twitLinks
      })
      .then(({data}) => {
        const crawls = data.crawls;
        this.$store.commit('setTwitCrawled', crawls);
      }).catch(() => {})
    },
    addTwitLink() {
      this.$store.commit('addTwitLink')
    },
    validateForm() {
      if (this.$store.state.twitLinks.length == 0) {
        this.$toastr.e(this.$t('validate.twitter_empty'))
        return false
      }
      // else {
      //   let validate = true
      //   this.$store.state.twitLinks.forEach((insta) => {
      //     if (!insta.status) {
      //       validate = false
      //     }
      //   })

      //   if (!validate) {
      //     this.$toastr.e(this.$t('validate.twitter_error'))
      //   }

      //   return validate
      // }

      return true
    },
    preTab() {
      // if (this.$store.state.type.includes('instagram')) {
      //   this.$store.commit('changeTab', 2)
      // } else {
      //   this.$store.commit('changeTab', 1)
      // }
    },
    // nextTab: async function () {
    //   if (this.$store.state.twitLinks.length) {
    //     this.$store.commit('changeLoading', true)
    //     await this.crawlTwitter()
    //     this.$store.commit('changeLoading', false)
    //   }

    //   if (this.validateForm()) {
    //     if (this.$store.state.type.includes('review')) {
    //       this.$store.commit('changeTab', 4)
    //     } else {
    //       this.$store.commit('changeTab', 5)
    //     }
    //   }
    // },
    // importTwitCsv(event) {
    //   let formData = new FormData();
    //   formData.append("file", event.target.files[0]);
    //   this.$store.dispatch('importTwitterCsv', formData)
    // },
    // removeLink(key) {
    //   this.$store.commit('removeTwitLink', key)
    // },
    // saveDraftDatabase() {
    //   this.$inertia.post(this.$route('admin.iframe-draft.store'), this.$store.state)
    //   .then(() => {
    //     this.$store.commit('changeLoading', false)
    //   })
    // },
    // updateDraftDatabase() {
    //   this.$inertia.put(this.$route('admin.iframe-draft.update', this.iframeId), this.$store.state)
    //   .then(() => {
    //     this.$store.commit('changeLoading', false)
    //   })
    // },
    // saveDraftIframe() {
    //   if (this.iframeId) {
    //     this.updateDraftDatabase()
    //   } else {
    //     this.saveDraftDatabase()
    //   }
    // },
    // handleDragEnd() {
    //   this.$store.commit('updateOrderTwitLinks')
    // }
  }
}
</script>

<style>
.validateField{
    color: red;
}
</style>
