<script setup>
import { Inertia } from '@inertiajs/inertia';
import JetDropdownLink from '@/Jetstream/DropdownLink.vue';
import {Link} from '@inertiajs/inertia-vue3'
const logout = () => {
    Inertia.post(route('admin.logout'));
};
</script>
<template>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>UCG</h3>
                <strong>UCG</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <fa icon="award" size="lg" />
                        Quản lý frame
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <Link :href="route('admin.iframes.create')">Tạo mới</Link>
                        </li>
                        <li>
                            <a href="#">Danh sách bản nháp</a>
                        </li>
                        <li>
                            <a href="#">Danh sách khung</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <fa icon="users" size="lg" />
                        Quản lý tài khoản
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Danh sách tài khoản</a>
                        </li>
                        <li>
                            <a href="#">Lời mời tài khỏan</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <!-- Authentication -->
                            <form @submit.prevent="logout">
                                <JetDropdownLink as="button">
                                    Log Out
                                </JetDropdownLink>
                            </form>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Logout</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <main>
                <slot></slot>
            </main>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.logout {
  border-left: 1px solid #eee;
}
</style>

<script>

export default {
  data: function() {
    return {
        active: false
    }
  },
  methods: {

  }
}
</script>

<style lang="scss">
  .logo__txt {
    text-align: center;

    a {
      font-size: 32px;
      color: #ffffff;

      &:hover {
        text-decoration: none;
      }
    }
  }
</style>
