#content{
    background: #f5f5f5;
}
.card-panel .card-panel-inner {
    cursor: pointer;
    padding: 16px;
}
.card-panel .card-panel-inner .card-panel-icon-wrapper {
    text-align: center;
    padding: 30px 0;
}
.card-panel .card-panel-inner .card-panel-icon-wrapper .card-panel-icon {
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 100px;
}
.card-panel .card-panel-inner .card-panel-description {
    text-align: center;
}
.card-panel .card-panel-inner .card-panel-description .card-panel-text {
    line-height: 18px;
    font-size: 16px;
    color: #4b5563;
}
.nav-item:not(:first-child) {
    margin-left: 5px;
}

.nav .nav-item {
    width: 21%;
    background: rgb(151, 196, 253);
}
.nav-pills .nav-link:hover{
    color: #fff;
}

.nav-pills .nav-link {
    border-radius: 0;
    color: #fff;    
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

a.nav-link.active{
    background: #6d7fcc !important;
}
.page__button-choose .page__choose-socilate div {
    align-items: center;
}
.page__button-choose .page__choose-socilate div label {
    align-items: center;
    cursor: pointer;
}
.page__button-choose .page__choose-socilate div label .choose__socilate {
    width: 30px;
}
.page__button-choose .page__choose-socilate div label .choose__socilate svg {
    width: 30px;
    height: 30px;
}
.page__button-choose .page__choose-socilate div label .choose__socialate-text {
    margin-left: 0.5rem;
    font-size: 24px;
    font-weight: bold;
    color: #464646;
}
.page__button-choose .page__choose-socilate div:nth-child(2) svg path {
    fill: #3490dc;
}
.page__button-socilate .socilate__url-content {
    margin: 10px 0;
}
.page__button-socilate .socilate__url-content, .page__button-socilate .socilate__url-check, .page__button-socilate .socilate__url-close, .page__button-socilate .socilate__url-move {
    text-align: center;
    border: 1px solid #231815;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.page__button-socilate .socilate__url .socilate__url-close img {
    filter: invert(13%) sepia(67%) saturate(7326%) hue-rotate(351deg) brightness(87%) contrast(107%);
}
.page__button-socilate .socilate__url .review__content {
    border: 1px solid #231815;
    border-radius: 5px;
}
.page__button-socilate .socilate__url .review__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page__button-socilate .socilate__url .review__content-bottom .formLabel {
    padding: 2px 5px;
    background: #dcdcdc;
    border-radius: 5px;
    font-size: 0.7rem;
}
.page__button-socilate .socilate__url .review__content-bottom .form-group {
    width: 32%;
}
.page__button-socilate .socilate__url .review__content-bottom .imagesForm {
    position: relative;
}
.page__button-socilate .socilate__url .review__content-bottom .imagesForm button {
    min-width: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.page__button-socilate .socilate__url .review__content-bottom .imagesForm button svg {
    width: 12px;
}
.page__button-socilate .socilate__url .review__content .form-group input, .page__button-socilate .socilate__url .review__content .form-group textarea {
    border-radius: 5px;
}
.page__button-load .load__more {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: #dcdcdc;
    border-radius: 5px;
}
.page__button-load .load__more img {
    width: 20px;
    height: 20px;
}
.commission {
    margin-top: 60px;
}
.commission button {
    transition: 0.3s;
    color: #fff !important;
    min-width: 160px;
    font-weight: bold;
}
