<script setup>
import Header from "../Layouts/AppHeader.vue"
import { Link } from "@inertiajs/inertia-vue3"
</script>
<template>
    <div class="sticky z-30 bg-white">
        <header>
            <div class="container mx-auto flex items-center justify-between">
                <slot name="logo" />
                <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white overflow-hidden sm:rounded-lg">
                    <Link :href="route('admin.login')" class="text-decoration-none text-gray-400 p-4">Login</Link>
                    <span> | </span>
                    <Link :href="route('admin.register')" class="text-decoration-none text-gray-400 p-4">Register</Link>
                </div>
            </div>
        </header>
        <div class="shadow-inner h-1"></div>
        <div class="header-body">
            <slot name="header-body"></slot>
        </div>
    </div>

</template>

<style>
.header-body{
    background-color: rgb(191, 219, 254);
}
</style>
