<script setup>
import { Link } from '@inertiajs/inertia-vue3';
</script>

<template>
    <Link :href="'https://getvectorlogo.com/wp-content/uploads/2020/05/ugc-union-generale-cinematographique-vector-logo.png'">
        <img class="w-16 h-16" src="https://getvectorlogo.com/wp-content/uploads/2020/05/ugc-union-generale-cinematographique-vector-logo.png" alt="">
    </Link>
</template>
